<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangle.parking.mapper.ParkingLotMapper">

    <resultMap id="ParkingLotResult" type="com.fangle.parking.entity.ParkingLot">
        <id column="parking_lot_id" property="parkingLotId" jdbcType="INTEGER" />
        <id column="parking_lot_name" property="parkingLotName" jdbcType="VARCHAR" />
        <id column="effect_time" property="effectTime" jdbcType="DATE" />
        <id column="update_time" property="updateTime" jdbcType="DATE" />
        <id column="create_time" property="createTime" jdbcType="DATE" />
    </resultMap>

    <select id="selectAllParkingLot" resultMap="ParkingLotResult">
        SELECT parking_lot_id, parking_lot_name, effect_time, update_time, create_time
        FROM parking_lot_info
    </select>

    <insert id="insertParkingLot" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
        parking_lot_info(parking_lot_id, parking_lot_name, effect_time)
         VALUES
         (#{parkingLotId},#{parkingLotName},#{effectTime})
    </insert>

</mapper>